<div class="w-full h-auto flex flex-col justify-end p-4">
    <span class="text-sm  font-black uppercase leading-tight tracking-tight">
        <p>Software development</p>
    </span>
    <ul class="w-full flex flex-row gap-2 text-xs leading-tight tracking-tight">
        <li>
            <a href="https://github.com/RayeRayeRaye">
                <p>Github</p>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/dempserayo/">
                <p>Instagram</p>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/j4imes/">
                <p>Linkedin</p>
            </a>
        </li>
    </ul>
      <ul class="w-full flex flex-row justify-between gap-2 text-xs leading-tight tracking-tight">
        <li>
            <a href="https://github.com/RayeRayeRaye">
                <p>About this website - built with Angular, TypeScript, Tailwind CSS</p>
            </a>
        </li>
        <li>
            <a href="https://github.com/RayeRayeRaye">
                <p>© 2025 Raye - Dempserayo. All rights reserved.</p>
            </a>
        </li>
    </ul>
</div>