<div class="w-full h-auto flex flex-col justify-center bg-white p-4 shadow-2xl shadow-white">
    <span class="text-xs sm:text-sm font-black uppercase leading-tight tracking-tight">
        <p>Software development - Support</p>
    </span>
    <ul class="w-full flex flex-row gap-2 text-[10px] font-bold uppercase leading-tight tracking-tight">
        <li>
            <a href="https://github.com/RayeRayeRaye">
                <p>Github</p>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/dempserayo/">
                <p>Instagram</p>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/j4imes/">
                <p>Linkedin</p>
            </a>
        </li>
    </ul>
</div>